<div class="ws-input {{class}}">
  <label class="ws-label-text--placeholder ws-input__label" [class.active]="active" [class.focused]="focused" for="{{id}}">
    {{label}}
  </label>
  <input class="ws-input__{{type}}" type="{{type}}" name="{{name}}" [id]="id" [(ngModel)]="inputValue"  (focus)="onFocus()" (blur)="onBlur()">
  <button *ngIf="showEye" class="password-eye ws-reset-button" (click)="toggleEye()">
    <i class="fa-regular" [ngClass]="{'fa-eye-slash' : activeEye, 'fa-eye' : !activeEye}"></i>
  </button>
</div>
