@import "src/styles/variables";


.active {
  top: 0.1rem;
  left: 0.8rem;
  transform: translateY(0);
  font-size: 0.75rem;
  color: $color-netural;
  padding: 0 0.5rem;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0;
    background-color: $color-gray;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}

.focused {
  @extend .active;
  &:before {
    top: 0.40rem;
  }
}

.password-eye {
  font-size: 0.9rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: $color-gray-light;
}

.label-top {
  top: 0;
  transform: translateY(120%);

  &.active {
    transform: translateY(10%);
  }
}

textarea {
  height: 10rem;
  width: 100%;
  font-family: $font-paragraph;
}

.border {
  outline: 1px solid $color-primary;
}


