@import "/src/styles/variables";


.accordion {
  height: 4rem;
  max-width: 20rem;
  border-radius: 10px;
  @extend .ws-bg-gradient-pink;
}

.header {
  border-bottom: 2px solid $color-primary;
  position: relative;
  margin-top: 7rem;
}

.credits {
  position: absolute;
  right: 0.2rem;
  top: calc(-100% + 0.2rem);
  font-size: clamp(0.75rem, 3vw, 1rem);

  @media only screen and (min-width: $screen-md) {
    top: unset;
    bottom: calc(-100% + 0.2rem);
  }
}

.username {
  position: absolute;
  left: 0;
  bottom: -100%;
  text-transform: capitalize;
  letter-spacing: 0;
  margin-left: 4rem;
  font-size: clamp(1rem, 6vw, 2.6rem);

  @media only screen and (min-width: $screen-md) {
    left: 2rem;
  }
}

.image-container {
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateY(55%);
  isolation: isolate;

  &:before{
    position: absolute;
    content: "";
    width: clamp(3rem, 6vw, 4.5rem);
    height: clamp(3rem, 6vw, 4.5rem);
    inset: 0;
    background-color: $color-dark;
    border-radius: 50%;
    z-index: -1;
  }
}

.profile-image {
  width: clamp(3rem, 6vw, 4.5rem);
  height: clamp(3rem, 6vw, 4.5rem);
  border-radius: 50%;
  border: 2px solid $color-primary;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(18rem, 1fr) );
  gap: 3.5rem;
  justify-items: center;
  grid-auto-rows: min-content;
}

.listing,
.win {
  border-bottom: 1px solid $color-primary;
}

.listings,
.wins {
  width: fit-content;
}

//Maybe fix this
.listings {
  grid-row: span 10;
}

.avatar {
  width: clamp(15rem, 100%, 25rem);
  height: min-content;

  &__choose {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
    background-color: $color-dark;
    padding: 2rem;
    border-radius: 10px;

    & button {
      grid-column: 1 / 4;
    }
  }

  &__select-message {
    grid-column: -1 / 1;
    margin-top: 0.5rem;
  }

  &__img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 2px solid $color-primary;

    &.selected {
      border: 2px solid $color-secondary;
      outline: 2px solid $color-secondary;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
