<div class="header ws-mb-6">
  <div class="image-container">
    <img class="profile-image" src="{{avatar}}" alt="">
  </div>
  <h1 #headingH1 class="username">{{username}}</h1>
  <p class="credits">You have ${{credits}}</p>
</div>

<div class="body ws-mb-7">
  <div class="wrapper">
    <div class="avatar ws-mb-6">
      <h2 class="ws-mb-4">Edit user avatar</h2>
      <div>
        <p>Provide your own avatar, with an active url to the image</p>
        <form (ngSubmit)="updateAvatar()">
          <ws-input
            type="url"
            id="imageInput"
            label="Avatar URL"
            name="imageInput"
          #imageInput>
          </ws-input>
          <button ws-button type="submit">Update avatar</button>
        </form>
      </div>

      <div class="avatar__choose">
        <p>Select one of our avatars</p>
        <img *ngFor="let avatar of avatars" class="avatar__img" [src]="avatar.src" [alt]="avatar.alt" [class.selected]="activeAvatar === avatar" (click)="setActiveAvatar(avatar)">
        <button ws-button (click)="updateLocalAvatar()">Update avatar</button>
      </div>
    </div>

    <div class="listings ws-mb-6">
      <h2 class="ws-mb-4">Your Listings</h2>
      <ng-container *ngIf="listings else noListings">
        <div *ngFor="let listing of listings" class="listing ws-mb-5 ws-pb-2">
          <h3 class="ws-mb-1">{{listing.title}}</h3>
          <p class="ws-mb-1">Amount of bids: {{getAmountOfBids(listing)}}</p>
          <p class="ws-mb-2">Current price: ${{getCurrentPrice(listing)}}</p>
          <a [routerLink]="['/listing', listing.id]" class="ws-listing-link">See Listing</a>
        </div>
      </ng-container>
    </div>

    <div class="wins">
      <h2 class="ws-mb-4">Your wins</h2>
      <ng-container *ngIf="wins else noWins">
        <div *ngFor="let win of wins" class="win ws-mb-5 ws-pb-2">
          <h3 class="ws-mb-1">{{win.listing.title}}</h3>
          <p class="ws-mb-1">Amount of bids: {{win.amountOfBids}}</p>
          <p class="ws-mb-2">Winning price: ${{win.amount}}</p>
          <a [routerLink]="['/listing', win.listing.id]" class="ws-listing-link">See Listing</a>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #noListings>
  <p>You have no listings</p>
</ng-template>

<ng-template #noWins>
  <p>You have no wins</p>
</ng-template>
