.ws-btn {
  @extend .ws-cta-text;
  @extend .ws-bg-gradient-pink;
  padding: 0.75rem 1.75rem;
  border: none;
  border-radius: 10px;

  &:hover {
  @extend .ws-bg-gradient-orange;
    cursor: pointer;
    text-decoration: underline;
  }

  &--secondary {
    @extend .ws-border-gradient-pink-rounded;
    background: $color-dark;
    color: $color-secondary;

    &:hover {
      @extend .ws-border-gradient-orange-rounded;
      background: $color-gray;
      color: $color-primary;
    }
  }
}

.ws-center-button-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.ws-reset-button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;

  &--text-link {
    @extend .ws-reset-button;
    &:hover {
    color: $color-tertiary;
    text-decoration: underline;
  }
  }
}

input:focus,
textarea:focus{
  outline-offset: 0;
}
.ws-input {
  width: 100%;
  position: relative;

  &__label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 80ms ease;
  }

  &__input,
  &__input:active {
    width: 100%;
    padding: 0.85rem;
    background-color: $color-gray;
    outline: transparent;
    border-radius: 10px;
    color: $color-netural;
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
    border: 1px solid $color-primary;

    &:focus {
      outline: $color-primary 2px solid;
    }
  }

  &--no-border {
    border-color: transparent;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $color-gray inset;
  box-shadow: 0 0 0 30px $color-gray inset;
  -webkit-text-fill-color: $color-netural;
  -webkit-appearance: none;
}

.ws-input-error-message{
  color: $color-error;
  font-size: 0.9rem;
}

.ws-select {
  margin-bottom: 0.7rem;

  &__container {
    position: relative;
    margin-top: 0.7rem;
  }
  &__arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    background-color: $color-primary;
    height: 100%;
    width: 2.2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid $color-primary;
    border-left: 0;
    pointer-events: none;

    & i {
      color: $color-dark;
      transform: translateY(-20%);
      font-size: 1.6rem;
    }
  }

  &__bar {
    width: 100%;
    padding: 0.85rem;
    background-color: $color-gray;
    outline: transparent;
    border: 1px solid $color-primary;
    border-radius: 10px;
    color: $color-netural;
    position: relative;
    font-family: $font-heading;
    font-size: 0.9375rem;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 2px solid $color-primary;
      outline-offset: 0;
      z-index: -1;
    }
  }
}

