.ws-btn {
  @extend .ws-cta-text;
  @extend .ws-bg-gradient-pink;
  padding: 0.75rem 1.75rem;
  border: none;
  border-radius: 10px;

  &:hover {
  @extend .ws-bg-gradient-orange;
    cursor: pointer;
    text-decoration: underline;
  }

  &--secondary {
    @extend .ws-border-gradient-pink-rounded;
    background: $color-dark;
    color: $color-secondary;

    &:hover {
      @extend .ws-border-gradient-orange-rounded;
      background: $color-gray;
      color: $color-primary;
    }
  }
}

.ws-center-button-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.ws-reset-button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;

  &--text-link {
    @extend .ws-reset-button;
    &:hover {
    color: $color-tertiary;
    text-decoration: underline;
  }
  }
}

input:focus,
textarea:focus{
  outline-offset: 0;
}
.ws-input {
  width: 100%;
  position: relative;

  &__label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 80ms ease;
  }

  &__text,
  &__email,
  &__password,
  &__textarea,
  &__date,
  &__url,
  &__text:active,
  &__email:active,
  &__password:active,
  &__textarea:active,
  &__date:active,
  &__url:active{
    width: 100%;
    padding: 0.85rem;
    background-color: $color-gray;
    outline: transparent;
    border: 0;
    border-radius: 10px;
    color: $color-netural;
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;

    &:focus {
      outline: $color-primary 2px solid;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $color-gray inset;
  box-shadow: 0 0 0 30px $color-gray inset;
  -webkit-text-fill-color: $color-netural;
  -webkit-appearance: none;
}

.ws-input-error-message{
  color: $color-error;
  font-size: 0.9rem;
}
