* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &:focus {
    outline: $color-tertiary 2px dashed;
    outline-offset: 4px;
  }
}

button:focus:not(:focus-visible),
input[type="button"]:focus:not(:focus-visible),
input[type="submit"]:focus:not(:focus-visible) {
  outline: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.ws-container {
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 0.75rem;
}
