body {
  color: $color-netural;
  font-family: $font-paragraph;
  font-weight: 200;
}

h1,
.ws-h1 {
  font-family: $font-top-heading;
  font-size: 2.6rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
}

h2,
.ws-h2 {
  font-family: $font-heading;
  font-size: 1.563rem;
  font-weight: 400;
}

h3,
.ws-h3 {
  font-family: $font-heading;
  font-size: 1.375rem;
  font-weight: 300;
}

h4,
.ws-h4 {
  font-family: $font-heading;
  font-size: 1.125rem;
  font-weight: 300;
}

p,
.ws-p {
  font-size: 1rem;
}

a {
  color: $color-primary;

  &:hover {
    color: $color-tertiary;
    text-decoration: underline;
  }
}

.ws-bold {
  font-weight: bolder;
}

.ws-listing-link {
  font-family: $font-heading;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: $color-secondary;

  &:hover {
    text-decoration: underline;
    color: $color-primary;
  }
}

.ws-small {
  font-family: $font-paragraph;
  font-size: 0.875rem;
  letter-spacing: 0.03rem;
  font-weight: 200;

  &-uppercase {
    color: $color-netural;
    font-family: $font-paragraph;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 300;
    text-decoration: none;
  }
}

.ws-category-text {
  font-family: $font-heading;
  font-size: 0.938rem;
  font-weight: 400;

  &:hover {
    cursor: pointer;
    color: $color-secondary;
    text-decoration: underline;
  }

  &.active {
    color: $color-primary;
    text-decoration: underline;
  }
}

.ws-cta-text {
  font-family: $font-heading;
  font-size: 0.938rem;
  text-decoration: none;
  text-transform: uppercase;
}

.ws-nav-link {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 1.125rem;
  color: $color-netural;
  text-decoration: none;

  &:hover {
    color: $color-tertiary;
    text-decoration: underline;
  }
}

.ws-label-text {
  font-family: $font-heading;
  font-weight: 400;
  color: $color-netural;
  font-size: 0.75rem;
  &--placeholder {
    @extend .ws-label-text;
    font-size: 0.9375rem;
    color: $color-gray-light;

  }
}

.ws-input-links {
  font-family: $font-heading;
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: underline;
  color: $color-netural;

  &:hover {
    text-decoration: none;
    color: $color-tertiary;
  }
}

.ws-card-heading {
  font-family: $font-heading;
  font-weight: 300;
  font-size: 1.3rem;
}

.ws-card-time-left {
  font-family: $font-heading;
  font-weight: 200;
  font-size: 0.875rem;

  &--orange {
    @extend .ws-card-time-left;
    color: $color-primary;
  }
}

.ws-card-bids {
  font-family: $font-heading;
  font-weight: 300;
  font-size: 1rem;

  &--highbid {
    @extend .ws-card-bids;
    font-size: 1.3rem;
    color: $color-primary;
  }
}
