<div class="container ws-mb-4">
  <div class="search">
    <label for="search">Search:</label>
    <input type="text" name="search" id="search" class="ws-input__input ws-input--no-border" [formControl]="search">
  </div>
  <ng-container *ngFor="let listing of listingsToshow">
    <a class="link-unset" [routerLink]="['/listing', listing.id]">
      <ws-card [item]="listing"></ws-card>
    </a>
  </ng-container>
</div>
<p *ngIf="search.value && listingsToshow.length === 0">No results were found that matched your search</p>
<button *ngIf="moreToLoad && !search.value" ws-button class="ws-mb-4" (click)="loadMore()">Load More</button>
