@import "/src/styles/variables";

.container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(15rem, 1fr) );
  gap: 1.3rem;
}

.link-unset {
  color: unset;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.filter {
  grid-column: -1 / 1;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(min(30rem, 100%), 1fr) );
  gap: 2rem;
  align-items: center;
}

.category {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.search {
  display: flex;
  align-items: center;
  gap: 2rem;

}
