.container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(15rem, 1fr) );
  gap: 1.3rem;
}

.link-unset {
  color: unset;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
