<ng-container *ngIf="this.listing">
  <div class="header ws-mb-6">
    <h1>{{title}}</h1>
    <div class="category-icon">
      Category
    </div>
  </div>

  <div class="body ws-mb-7">
    <div class="image-container ws-mb-5">
      <img src="{{image}}" alt="" [class.placeholder]="placeholderImage" (error)="imageLoadError()">
    </div>

    <div class="body-container">
      <h2 *ngIf="user === listing.seller.name" class="ws-mb-3">This is your auction</h2>
      <p *ngIf="user === listing.seller.name && ended" class="ws-mb-3">This auction is ended</p>
      <h2 *ngIf="ended && user !== listing.seller.name" class="ws-mb-3">This auction is ended</h2>
      <ng-container *ngIf="!ended && user !== listing.seller.name">
      <h2 class="ws-h3 ws-mb-2">Bid on this item</h2>
      <p *ngIf="noBidPlaced" class="ws-mb-2">Be the first to bid on this item</p>
      <form class="ws-mb-2" (ngSubmit)="onBid()">
        <div class="bid-container">
          <span class="bid-currency">$</span>
          <input
            class="bid-input ws-input__text"
            type="tel"
            name=""
            id=""
            value="{{bidValue}}"
            (focus)="resetValue($event)"
            #bidInput>
          <button class="bid-btn ws-reset-button" type="submit">Bid</button>
        </div>
      </form>
      <p class="ws-mb-6 ws-bold">You have ${{creditsLeft}} left</p>
      </ng-container>

      <h2 class="ws-mb-2">Description</h2>
      <p class="ws-mb-6">{{listing.description}}</p>

      <div class="info-wrapper">
        <div class="info">
          <h2 class="ws-mb-2">Information</h2>
          <ul>
            <li *ngIf="!ended"><span class="ws-bold">Highest bid: </span>$ {{highBid}}</li>
            <li *ngIf="ended && highBid"><span class="ws-bold">Winning bid: </span>$ {{highBid}}</li>
            <li *ngIf="ended && !highBid"><span class="ws-bold">No bids, not sold </span></li>
            <li><span class="ws-bold">Category: </span> ||category||</li>
            <li *ngIf="!ended"><span class="ws-bold">Ends at: </span>{{endDate}} - {{timeLeft}}</li>
            <li *ngIf="ended"><span class="ws-bold">Ended at: </span>{{endDate}}</li>
            <li><span class="ws-bold">Added by: </span>{{seller}}</li>
          </ul>
        </div>

        <div class="history">
          <p *ngIf="!highBid" class="ws-h2">No bidding history</p>
          <ng-container *ngIf="highBid">
            <h2 class="ws-mb-2">Latest bid</h2>
            <ul>
              <li *ngFor="let bid of latestBids">
                <p><span class="ws-bold">Bid by: </span>{{bidderName(bid)}}</p>
                <p><span class="ws-bold">Bid amount: </span>$ {{bid.amount}} </p>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>
