<h1 class="ws-mb-6">Create new listing</h1>

<div class="body ws-mb-6">
  <form>
    <div class="grid-wrapper">
      <div class="flex-col title-col">
        <ws-input
          class="ws-mb-1 title"
          type="text"
          label="Title"
          name="title"
          id="title"
          [showBorder]="true"
          #titleInput>
        </ws-input>

        <div class="select ws-mt-2">
          <label for="category" class="select__label ws-label-text--placeholder ws-input__label" [class.active]="active || focused">Category</label>
          <select class="select__bar" name="category" id="category" (focus)="onFocus()" (blur)="onBlur()" #categoryInput>
            <option value="">- Category -</option>
            <option value="ws-red">Red</option>
            <option value="ws-white">White</option>
            <option value="ws-rose">Rosé</option>
            <option value="ws-dessert">Dessert</option>
            <option value="ws-champagne">Champagne</option>
            <option value="ws-sparkeling">Other Sparkeling</option>
          </select>
          <span class="select__arrow"><i class="fa-solid fa-sort-down"></i></span>
        </div>
      </div>
      <div class="flex-col">
          <div class="date">
            <div class="date__col date-wrapper">
              <label>End date</label>
              <input class="date__date" type="date" #dateInput>
              <i class="date__icon--calendar fa-solid fa-calendar"></i>
            </div>
            <div class="date__row">
              <div class="date__col">
                <label>Hour</label>
                <input class="date__time" type="text" #hourInput>
              </div>
              <div class="date__col">
                <label>Min</label>
                <input class="date__time" type="text" #minInput>
              </div>
            </div>
          </div>


        <ws-input
          class="ws-mb-1"
          type="text"
          label="Photo url"
          name="photo"
          id="photo"
          [showBorder]="true"
          #photoInput>
        </ws-input>
      </div>
    </div>

    <div class="grid-wrapper">
      <div class="flex-col">
        <ws-input
          class="ws-mb-1"
          type="textarea"
          label="Description"
          name="description"
          id="description"
          [showBorder]="true"
          #descriptionInput>
        </ws-input>
      </div>

      <button ws-button type="submit" class="btn ws-center-button-x" (click)="onSubmit($event)">Save & publish</button>
    </div>
  </form>
</div>
