<h1 class="ws-mb-6">Create new listing</h1>

<div class="body ws-mb-6">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid-wrapper">
      <div class="flex-col">
        <div class="ws-mb-3">
          <label for="title">Title</label>
          <input class="ws-input__input" type="text" name="title" id="title" formControlName="title">
          <p *ngIf="validationMessage.title" class="ws-input-error-message">{{validationMessage.title}}</p>
        </div>

        <div class="select">
          <label for="category">Category</label>
          <div class="select__container">
            <select class="select__bar" name="category" id="category" (focus)="onFocus()" (blur)="onBlur()" formControlName="category">
              <option value="">- Select a category -</option>
              <option value="ws-red">Red</option>
              <option value="ws-white">White</option>
              <option value="ws-rose">Rosé</option>
              <option value="ws-dessert">Dessert</option>
              <option value="ws-champagne">Champagne</option>
              <option value="ws-sparkeling">Other Sparkeling</option>
            </select>
            <span class="select__arrow"><i class="fa-solid fa-sort-down"></i></span>
          </div>
          <p *ngIf="validationMessage.category" class="ws-input-error-message">{{validationMessage.category}}</p>
        </div>

        <div class="ws-mb-3 ws-mt-4">
          <label for="date">End time</label>
          <div class="date">
          <input
              class="ws-input__input"
              type="datetime-local"
              name="date"
              id="date"
              min="{{minTime}}"
              max="{{maxTime}}"
              formControlName="date">
            <i class="fa-solid fa-calendar"></i>
          </div>
          <p *ngIf="validationMessage.date" class="ws-input-error-message">{{validationMessage.date}}</p>
        </div>

        <div>
          <label for="photo">Photo</label>
          <input class="ws-input__input" type="url" name="photo" id="photo" formControlName="photo">
          <p *ngIf="validationMessage.photo" class="ws-input-error-message">{{validationMessage.photo}}</p>
        </div>
      </div>


      <div class="flex-col">
        <label for="description">Description</label>
        <textarea class="ws-input__input" type="text" name="description" id="description" formControlName="description"></textarea>
        <p *ngIf="validationMessage.description" class="ws-input-error-message">{{validationMessage.description}}</p>
        <button ws-button type="submit" class="btn ws-center-button-x">Save & publish</button>
      </div>
    </div>
  </form>
</div>
