@import "src/styles/variables";

h1 {
border-bottom: 2px solid $color-primary;
}

.grid-wrapper {
  @media only screen and (min-width: $screen-md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    max-width: 70rem;
    margin: auto;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  margin-bottom: 0.7rem;

  &--extra-mb {
    margin-bottom: 1.8rem;
  }
}

.date {
  position: relative;

  & input {
    font-family: $font-paragraph;
  }

  & .fa-calendar{
    color: $color-primary;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

textarea {
  height: 15.8rem;
  font-family: $font-paragraph;
  font-weight: 300;
  resize: none;

  &::-webkit-scrollbar {
    margin-top: auto;
    margin-bottom: auto;
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $color-dark-gray;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-secondary;
    border-radius: 1rem;
  }
}
