@import "/src/styles/variables";
@import "/src/styles/typography";
@import "/src/styles/spacing";
@import "/src/styles/layout";
@import "/src/styles/buttonFormInput";

body {
  background-color: $color-gray;
}

.ws-background-container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: 150vh;
    background: linear-gradient(190deg, $color-dark 0%, $color-gray 75%);
    z-index: -1;
  }
}

.ws-main-layout {
  min-height: 100svh;
  display: grid;
  grid-template-rows: 1fr auto;
}
