<div class="container">
  <div *ngIf="!isMediumScreen" (click)="hamburgerClick()" class="hamburger">
    <div class="burger" [class.active]="activeClass"></div>
  </div>



  <nav *ngIf="isMediumScreen" class="desktop-menu">
    <ws-double-button
      *ngIf="!isLoggedIn"
      [leftText]="'Register'"
      [rightText]="'Login'"
      (leftClick)="registerClick()"
      (rightClick)="loginClick()">
    </ws-double-button>

    <ul *ngIf="isLoggedIn">
      <li><a href="#" class="ws-nav-link">Profile</a></li>
      <li><a href="#" class="ws-nav-link">Create new listing</a></li>
      <li><button ws-button variant="SECONDARY" (click)="logoutClick()">Logout</button></li>
    </ul>
  </nav>
</div>

<nav *ngIf="!isMediumScreen" class="mobile-menu ws-bg-gradient-dark" [class.active]="activeClass">
  <ul *ngIf="!isLoggedIn">
    <li><button class="ws-reset-button--text-link ws-nav-link" (click)="loginClick()">Login</button></li>
    <li><button class="ws-reset-button--text-link ws-nav-link" (click)="registerClick()">Register</button></li>
  </ul>

  <ul *ngIf="isLoggedIn">
    <li><a href="#" class="ws-nav-link">Profile</a></li>
    <li><a href="#" class="ws-nav-link">Create new listing</a></li>
    <li><button class="ws-reset-button ws-nav-link" (click)="logoutClick()">Logout</button></li>
  </ul>
</nav>
<div class="mobile-menu-overlay" [class.active]="activeClass"></div>

<ws-modal *ngIf="showModal">
  <ng-container *ngTemplateOutlet="templateOutlet"></ng-container>
</ws-modal>

<ng-template #login>
  <h2 class="ws-h3 ws-mb-3">Login</h2>
  <form (ngSubmit)="onLogin()">
    <ws-input
      class="ws-mb-1"
      type="email"
      label="E-mail"
      name="email"
      id="email"
      #emailInput>
    </ws-input>

    <ws-input
      class="ws-mb-1"
      type="password"
      label="Password"
      name="password"
      id="password"
      #passwordInput>
    </ws-input>

    <button ws-button class="ws-my-5 ws-center-button-x" type="submit">Login</button>
  </form>
  <button class="ws-reset-button ws-input-links ws-center-button-x">Not a user? Register here</button>
</ng-template>

<ng-template #logout>
  <h2 class="ws-h3 ws-mb-3 logout-text">Are you sure you want to logout?</h2>
  <div class="logout-buttons">
    <button ws-button variant="SECONDARY" (click)="this.modalService.closeModal()">Cancel</button>
    <button ws-button (click)="onLogout()">Logout</button>
  </div>
</ng-template>

<ng-template #register>
  <h2 class="ws-h3 ws-mb-3">Register new user</h2>
  <form (ngSubmit)="onRegister()">
    <ws-input
      class="ws-mb-1"
      type="email"
      label="E-mail"
      name="email"
      id="reg-email"
      #regEmailInput>
    </ws-input>

    <ws-input
      class="ws-mb-1"
      type="text"
      label="Username"
      name="username"
      id="username"
      #regUsernameInput>
    </ws-input>

    <ws-input
      class="ws-mb-1"
      type="password"
      label="Password"
      name="password"
      id="reg-password"
      #regPasswordInput>
    </ws-input>

    <button ws-button class="ws-my-5 ws-center-button-x" type="submit">Register</button>
  </form>
  <button class="ws-reset-button ws-input-links ws-center-button-x">Already a user? Login here</button>
</ng-template>
