<div class="container">
  <div *ngIf="!isMediumScreen" (click)="hamburgerClick()" class="hamburger">
    <div class="burger" [class.active]="activeClass"></div>
  </div>



  <nav *ngIf="isMediumScreen" class="desktop-menu">
    <ws-double-button
      *ngIf="!isLoggedIn"
      [leftText]="'Register'"
      [rightText]="'Login'"
      (leftClick)="registerClick()"
      (rightClick)="loginClick()">
    </ws-double-button>

    <ul *ngIf="isLoggedIn">
      <li><a routerLink="/profile" class="ws-nav-link">Profile</a></li>
      <li><a routerLink="/create-new" class="ws-nav-link">Create new listing</a></li>
      <li><button ws-button variant="SECONDARY" (click)="logoutClick()">Logout</button></li>
    </ul>
  </nav>
</div>

<nav *ngIf="!isMediumScreen" class="mobile-menu ws-bg-gradient-dark" [class.active]="activeClass">
  <ul *ngIf="!isLoggedIn">
    <li><button class="ws-reset-button--text-link ws-nav-link" (click)="loginClick()">Login</button></li>
    <li><button class="ws-reset-button--text-link ws-nav-link" (click)="registerClick()">Register</button></li>
  </ul>

  <ul *ngIf="isLoggedIn">
    <li><a routerLink="/profile" class="ws-nav-link">Profile</a></li>
    <li><a routerLink="/create-new" class="ws-nav-link">Create new listing</a></li>
    <li><button class="ws-reset-button ws-nav-link" (click)="logoutClick()">Logout</button></li>
  </ul>
</nav>
<div class="mobile-menu-overlay" [class.active]="activeClass"></div>

<ws-modal *ngIf="showModal">
  <ng-container *ngTemplateOutlet="templateOutlet"></ng-container>
</ws-modal>

<ng-template #login>
  <h2 class="ws-h3 ws-mb-3">Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div>
      <label for="loginEmail">Email:</label>
      <input class="ws-input__text" type="email" name="email" id="loginEmail" formControlName="loginEmail">
      <p *ngIf="loginValidationMessage.loginEmail" class="ws-input-error-message">{{loginValidationMessage.loginEmail}}</p>
    </div>
    <div>
      <label for="loginPassword">Password:</label>
      <input class="ws-input__text" type="password" name="password" id="loginPassword" formControlName="loginPassword">
      <p *ngIf="loginValidationMessage.loginPassword" class="ws-input-error-message">{{loginValidationMessage.loginPassword}}</p>
    </div>
    <button ws-button class="ws-my-5 ws-center-button-x" type="submit">Login</button>
  </form>
  <button class="ws-reset-button ws-input-links ws-center-button-x">Not a user? Register here</button>
</ng-template>

<ng-template #logout>
  <h2 class="ws-h3 ws-mb-3 logout-text">Are you sure you want to logout?</h2>
  <div class="logout-buttons">
    <button ws-button variant="SECONDARY" (click)="this.modalService.closeModal()">Cancel</button>
    <button ws-button (click)="onLogout()">Logout</button>
  </div>
</ng-template>

<ng-template #register>
  <h2 class="ws-h3 ws-mb-3">Register new user</h2>
  <form [formGroup]="regForm" (ngSubmit)="onRegister()">
    <div>
      <label for="regEmail">Email:</label>
      <input class="ws-input__text" type="email" name="email" id="regEmail" formControlName="regEmail">
      <p *ngIf="regValidationMessage.regEmail" class="ws-input-error-message">{{regValidationMessage.regEmail}}</p>
    </div>
    <div>
      <label for="regUsername">Username:</label>
      <input class="ws-input__text" type="text" name="username" id="regUsername" formControlName="regUsername">
      <p *ngIf="regValidationMessage.regUsername" class="ws-input-error-message">{{regValidationMessage.regUsername}}</p>
    </div>
    <div>
      <label for="regPassword">Password:</label>
      <input class="ws-input__text" type="password" name="password" id="regPassword" formControlName="regPassword">
      <p *ngIf="regValidationMessage.regPassword" class="ws-input-error-message">{{regValidationMessage.regPassword}}</p>
    </div>
    <button ws-button class="ws-my-5 ws-center-button-x" type="submit">Register</button>
  </form>

  <button class="ws-reset-button ws-input-links ws-center-button-x">Already a user? Login here</button>
</ng-template>
